// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.center-vertical
    form.card.card-body.bg-light(method='post')#account-form
        h2
        h6#sub Please tell us a little about yourself.
        hr
        .form-group.row
            label.col-sm-4.col-form-label.col-form-label-sm Username
            .col-sm-8
                input.form-control#user-tf(type='text', name='user', value= user.user).disabled

        .form-group.row
            label.col-sm-4.col-form-label.col-form-label-sm Email
            .col-sm-8
                input.form-control#email-tf(type='email', name='email', value= user.email)

        .form-group.row.margin-zero
            label.col-sm-4.col-form-label.col-form-label-sm Password
            .col-sm-8
                input.form-control#pass-tf(type='password', name='pass', value='')

        hr

        .form-group.row#uuid-row
            label.col-sm-4.col-form-label.col-form-label-sm Linked UUID
            .col-sm-8
                input.form-control#uuid-tf(type='text', name='uuid', value= user.playerUUID).disabled

        .form-group.row#token-row
            label.col-sm-4.col-form-label.col-form-label-sm Account Token
            .col-sm-8
                input.form-control#token-tf(type='text', name='accountToken', value= user.accountToken).disabled
        h6#verify-info
            | Login to any Minecraft Server and type &nbsp;
            b /mytownweb verify #{user.accountToken}
            | &nbsp; to link your Minecraft UUID to this Account


        hr
        .form-buttons
            button(type='button')#account-form-btn1.btn.btn-outline-dark
            button(type='submit')#account-form-btn2.btn.btn-primary

// display form errors in a custom modal window //
include modals/form-errors