extends layout

block content
    include navbar
    include modals/alert
    include modals/confirm

    #townlist
        #table.card.card-body.bg-light
            p
                a(href="/towns") Town List
                | &nbsp;&raquo;&nbsp;
                a(href="/towndetail/" + townName) Town: #{townName}
                | &nbsp;&raquo;&nbsp;
                | Town Flags
            hr
            h1 Town Flags of [#{townName}]

            table(class="blueTable")
                thead
                    th Flag Name
                    th Flag Value
                tbody
                for tFlag in flagList
                    tr
                        td #{tFlag.flagName}
                        td #{tFlag.flagValue}


block scripts
    script(src='/js/views/flaglist.js')
    script(src='/js/controllers/navbarController.js')