extends layout

block content
    include navbar
    include modals/alert
    include modals/confirm

    #townlist
        #table.card.card-body.bg-light
            p
                a(href="/towns") Town List
                | &nbsp;&raquo;&nbsp;
                a(href="/towndetail/" + townName) Town: #{townName}
                | &nbsp;&raquo;&nbsp;
                a(href="/plotlist/" + townName) PlotList
                | &nbsp;&raquo;&nbsp;
                | Plot Members
            hr
            h1 Plot Members for Plot [#{plotName}]

            table(class="blueTable")
                thead
                    th Member
                    th Owner of Plot
                tbody
                for tMember in plotMemberList
                    tr
                        td #{tMember.memberName}
                        td #{tMember.isOwner}


block scripts
    script(src='/js/views/plotmemberlist.js')
    script(src='/js/controllers/navbarController.js')